<!DOCTYPE RCC><RCC version="1.0">
<qresource>
    <file>resources/img/lps_splash.png</file>
    <file>resources/img/icon.ico</file>
    <file>resources/img/loading.gif</file>
    <file>version.json</file>
</qresource>
</RCC>